<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Create your account</h2>
		<p>Get an account to backup any events you interested in!</p>
	</header>
	<section id="cta">
		<form>
			<div class="row uniform 50%">
				<div class="4u 12u(mobilep)" style="padding-top:20px">
					<p>Account</p>
				</div>
				<div class="8u 12u(mobilep)">
					<input type="text" ng-model="account" placeholder="Your account here" />
				</div>
			</div>
			<div class="row uniform 50%">
				<div class="4u 12u(mobilep)" style="padding-top:20px">
					<p>Password</p>
				</div>
				<div class="8u 12u(mobilep)">
					<input type="password" ng-model="password" placeholder="Your password here" />
				</div>
			</div>
			<div class="row uniform 50%">
				<div class="4u 12u(mobilep)" style="padding-top:20px">
					<p>Confirm Password</p>
				</div>
				<div class="8u 12u(mobilep)">
					<input type="password" ng-model="password_confirm" placeholder="Confirm your password" />
				</div>
			</div>
			<div class="row uniform 50%">
				<div class="4u 12u(mobilep)" style="padding-top:20px">
					<p>Email Address</p>
				</div>
				<div class="8u 12u(mobilep)">
					<input type="email" ng-model="email" placeholder="Email Address" />
				</div>
			</div>
			<div class="row uniform 50%">
				<div class="4u 12u(mobilep)" style="left: 30%; position: relative;">
					<input type="submit" ng-click="register()" value="Sign Up" class="fit" />
				</div>
			</div>
		</form>
	</section>
</section>
