<section id="main" class="container">
	<div class="ui form segment">
		<legend>Create Event</legend>
		<div class="two required fields">
			<div class="field">
				<label>Event Name</label>
				<input placeholder="Text Input" type="text" ng-model="event_name">
			</div>
			<div class="field">
				<label>Event Date</label>
				<input placeholder="Text Input" type="text" ng-model="event_date">
			</div>
		</div>
		<div class="two required fields">
			<div class="field">
				<label>Event Goal</label>
				<input placeholder="Text Input" type="text" ng-model="goal">
			</div>
			<div class="field">
				<label>Event Location</label>
				<input placeholder="Text Input" type="text" ng-model="location">
			</div>
		</div>
		<div class="required field">
			<label>Description</label>
			<textarea ng-model="description"></textarea>
		</div>
		<div class="ui submit button" ng-click="add_event()">Submit</div>
	</div>
</section>