<script type="text/javascript">
	$(document).ready(function(){
		// $('.datepicker').pickadate({
		// 	format: 'yyyy/mm/dd'
		// });
		// $('.datepicker').change(function(){
		// 	console.log($('.datepicker').val());
		// 	$('.datepicker').attr("ng-model", $('.datepicker').val());
		// });
	});

</script>
<section id="main" class="container">
	<div class="ui form segment">
		<legend>Create Event</legend>
		<div class="two  fields">
			<div class="field">
				<label>Event Name</label>
				<input placeholder="What's your event?" type="text" ng-model="event_name">
			</div>
			<div class="field">
				<label>Event Holder</label>
				<input placeholder="Who holds the event?" type="text" ng-model="event_holder">
			</div>
		</div>
		<div class="three required fields">
			<div class="field">
				<label>Event Date</label>
				<input type="text" pick-a-date="date" pick-a-date-options="{ format: 'yyyy/mm/dd' }" ng-model="event_date"/>
				<!-- <input class="datepicker" type="text" ng-model="event_date" datepicker> -->
			</div>
			<div class="field">
				<label>Event Goal</label>
				<input placeholder="How much do you want to fund?" type="text" ng-model="goal">
			</div>
			<div class="field">
				<label>Event Location</label>
				<input placeholder="Where's the event?" type="text" ng-model="location">
			</div>
		</div>
		<div class="required field">
			<label>Description</label>
			<textarea ng-model="description"></textarea>
		</div>
		<div class="ui green submit button" ng-click="add_event()">Submit</div>
	</div>
</section>