<section id="main" class="container">
	<div class="ui form segment">
		<h3 class="ui blue header">Pledge</h3>
		<div class="four required fields">
			<div class="field">
				<label>Enter your pledge amount!</label>
				<input placeholder="It's up to you" type="text" ng-model="amount">
			</div>
		</div>
		<h3 class="ui blue header">Any thing want to tell us?</h3>
		<div class="required field" >
			<textarea></textarea>
		</div>
		<div class="ui green submit button" ng-click="donate()">
			Submit
		</div>
	</div>
</section>
