<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

		
			<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Event Name</h2>
		<p>By _______</p>
	</header>
	<div class="ui form segment">
	<h3 class="ui blue header">Pledge</h3>
	<div class="four required fields">
		<div class="field">
			<label>Enter your pledge amount!</label>
			<input placeholder="It's up to you" type="text" ng-model="">
		</div>

	</div>
	<h3 class="ui blue header">Any thing want to tell us?</h3>

	<div class="required field" ng-model="">
		
		<textarea></textarea>
	</div>
	<div class="ui green submit button">Submit</div>
</div>
					
	
</section>
