<!DOCTYPE HTML>

<!-- Main -->
	<section id="main" class="container">
		<header>
			<h2>Events</h2>
			<p>Find out the events that you are interested in!</p>
		</header>
		<div class="ui cards">
		  	<div class="card" ng-repeat="event in event_list">
		    	<a class="image" ng-click="show_event(event.event_id)">
		      		<img src="/images/J.JPG">
		    	</a>
		   		<div class="content">
		      			<p class="header" ng-bind="event.event_name"></p>
		      		<div class="meta">
		        		<p ng-bind="event.event_date"></p>
		      		</div>
		      		<div class="description">
		      			<p ng-bind="event.description"></p>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</section>
