<!-- Main -->
	<section id="main" class="container">
		<header>
			<h2>Events</h2>
			<p>Find out the events that you are interested in!</p>
		</header>
		<div class="ui cards">
		<div class="card">
		  	<!-- <div class="card" ng-repeat="event in events"> -->
		    	<a class="image">
		      		<img src="">
		    	</a>
		   		<div class="content">
		      		<a class="header" ng-bind="event.event_name"></a>
		      	<div class="meta">
		        	<a ng-bind="event.event_date"></a>
		      	</div>
		      	<div class="description" ng-bind="event.description">
		      	</div>
		    </div>
		  </div>
	</section>
