<!-- Main -->
	<section id="main" class="container">
		<header>
			<h2>Events</h2>
			<p>Find out the events that you are interested in!</p>
		</header>
		<div class="row">
			<div class="6u 12u(narrower)">

				<section class="box special">
					<span class="image featured"><a href="/Showevent"><img src="http://html5up.net/uploads/demos/alpha/images/pic02.jpg" alt="" /></a></span>
								
					<h3>Accumsan integer</h3>
					<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								
				</section>

			</div>
			<div class="6u 12u(narrower)">

				<section class="box special">
								
					<span class="image featured"><a href="/Showevent"><img src="http://html5up.net/uploads/demos/alpha/images/pic02.jpg" alt="" /></a></span>
								
					<h3>Accumsan integer</h3>
					<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								
				</section>

			</div>
			<div class="6u 12u(narrower)">

				<section class="box special">
								
					<span class="image featured"><a href="/Showevent"><img src="http://html5up.net/uploads/demos/alpha/images/pic02.jpg" alt="" /></a></span>
								
					<h3>Accumsan integer</h3>
					<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								
				</section>

			</div>
			<div class="6u 12u(narrower)">

				<section class="box special">
								
					<span class="image featured"><a href="/Showevent"><img src="http://html5up.net/uploads/demos/alpha/images/pic02.jpg" alt="" /></a></span>
								
					<h3>Accumsan integer</h3>
					<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								
				</section>

				
			</div>
			<div class="6u 12u(narrower)">

				<section class="box special">
								
					<span class="image featured"><a href="/Showevent"><img src="http://html5up.net/uploads/demos/alpha/images/pic02.jpg" alt="" /></a></span>
								
					<h3>Accumsan integer</h3>
					<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								
				</section>

			</div>
			<div class="6u 12u(narrower)">

				<section class="box special">
								
					<span class="image featured"><a href="/Showevent"><img src="http://html5up.net/uploads/demos/alpha/images/pic02.jpg" alt="" /></a></span>
								
					<h3>Accumsan integer</h3>
					<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								
				</section>

			</div>

		</div>
	</section>
