<!DOCTYPE HTML>

			<!-- Banner -->
				<section id="banner">
					<h2>Group 8</h2>
					<h3>Donate & Relation management</h3>
					<ul class="actions">
						<li ng-hide="is_login"><a href="/Signup" class="button special">Sign Up</a></li>
						<li><a href="/Event" class="button">Donate</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">
					<header><h3>Popular Events</h3></header>
					<div class="ui cards">
		  				<div class="card" ng-repeat="event in home_event_list">
		    				<a class="image" ng-click="show_event(event.event_id)">
		      					<img src="/images/J.JPG">
		    				</a>
		   					<div class="content">
		      					<p class="header" ng-bind="event.event_name"></p>
		      					<div class="meta">
		        					<p ng-bind="event.event_date"></p>
		      					</div>
		      					<div class="description">
		      						<p ng-bind="event.description"></p>
		      					</div>
		    				</div>
		  				</div>
					</div>

				</section>