<!DOCTYPE HTML>
<script type="text/javascript">
	$(document).ready(function(){
		$('.menu a.item').on('click', function() {
			if(!$(this).hasClass('dropdown')) {
				$(this).addClass('active').closest('.ui.menu').find('.item').not($(this)).removeClass('active');
			}
		});
		
	});
</script>


<section id="main" class="container">
	<header>
		<h2 ng-bind="event.event_name"></h2>
	</header>
	<div class="box">
		<div class = "row">
			<div class="4u 12u(mobilep)">
				<img src="/images/J.JPG">
			</div>
			<div class="6u 12u(mobilep)">
				<h3><i class="users icon"></i>Number of Donates :
				<span ng-bind="donation_count"></span>
				</h3>
			</div>
			<div class="6u 12u(mobilep)">
				<h3><i class="users icon"></i>Goal :
				<span ng-bind="event.goal"></span>
				</h3>
			</div>
			<div class="6u 12u(mobilep)">
				<h3><i class="dollar icon"></i>Current :
				<span ng-bind="donation_total"></span>
				</h3>
			</div>
			<div class="6u 12u(mobilep)">
				<h3><i class="wait icon"></i>Date :
				<span ng-bind="event.event_date"></span>
				</h3>
			</div>
			<div class="6u 12u(mobilep)">
				<h3><i class="location arrow icon"></i>Location :
				<span ng-bind="event.location"></span>
				</h3>
			</div>
			<div class="6u 12u(mobilep)">
				<div class="ui horizontal divider"></div>
				<a class="medium ui green button" ng-click="go_donate()">Donate now!</a>
			</div>
			
		</div>	
	</div>	
		<div class="ui small indicating progress active">
		    <div class="bar" style="-webkit-transition-duration: 300ms; transition-duration: 300ms;"ng-style="progress_bar"></div>
		    <div class="label"><span ng-bind="progress"></span>% Funded</div>
		</div>	
		<div class="row">
				<h3>About the event</h3>
			</div>
		<div class="ui tabular menu">
  			<a ng-click="show_change(0)" class="active item">Info</a>
  			<a ng-click="show_change(1)" class="item">Donates</a>
  			<a ng-click="show_change(2)" class="item">Comments</a>
  			
		</div>
		<div ng-hide="show[0]" class="box">		
			<div class="row">
				<div class="6u 12u(mobilep)">
					<h3>Description</h3>
					<p ng-bind="event.description"></p>
				</div>
			</div>
		</div>	
		<div ng-hide="show[1]" class="box">		
			<div class="row">
				<div class="6u 12u(mobilep)">
					<h3>Donates</h3>
				</div>
			</div>
			<div class="row" ng-repeat="donate in donation_list">
				<div>
					<i class="usd icon"></i><span ng-bind="donate.amount"></span>
				</div>
				<span>At <span ng-bind="donate.date"></span></span>
			</div>
		</div>	
		<div ng-hide="show[2]" class="box">		
			<div class="row">
				<div class="6u 12u(mobilep)">
					<h3>Comments</h3>
				</div>
			</div>
			<div class="row" ng-repeat="comment in comments">
				<span><span ng-bind="comment.User.user_name"></span>:</span>
				<span ng-bind="comment.content"></span>
			</div>
		</div>	
	</div>
	

</section>
