<script type="text/javascript">
	$(document).ready(function(){
		$('.menu a.item').on('click', function() {
			if(!$(this).hasClass('dropdown')) {
				$(this).addClass('active').closest('.ui.menu').find('.item').not($(this)).removeClass('active');
			}
		});
	});
</script>
<!-- Main -->
	<section id="main" class="container">
		<div class="ui secondary pointing four item demo menu">
  			<a ng-click="show(0)" class="active item">Info</a>
  			<a ng-click="show(1)" class="item">Donation</a>
  			<a ng-click="show(2)" class="item">Track List</a>
  			<a ng-click="show(3)" class="item">Community</a>
		</div>
		<div ng-hide="show[0]">
			<legend>Personal information</legend>
			<form>
				<div>
					<label>Account</label>
					<div>
						<input id="account" readonly>
					</div>
				</div>
				<div>
					<label>Password</label>
					<div>
						<input type="password" id="password">
					</div>
				</div>
				<div>
					<label>Name</label>
					<div>
						<input type="text" id="user_name">
					</div>
				</div>
				<div>
					<label>Email</label>
					<div>
						<input type="text" id="email">
					</div>
				</div>
				<div>
					<label>Photo</label>
					<div>
						<input type="text" id="photo_url">
					</div>
				</div>
				<div>
					<label>Birthdate</label>
					<div>
						<input type="text" id="birthdate">
					</div>
				</div>
				<div>
					<input type="submit">
				</div>
			</form>
		</div>
		<div ng-hide="show[1]">
			<table class="ui celled table">
    			<thead>
    				<tr>
    					<th>Event</th>
    					<th>Date</th>
    					<th>Location</th>
    					<th>Donated Amount</th>
    					<th>Detail</th>
    				</tr>
    			</thead>
    			<tbody>
					<tr ng-repeat="event in donations | filter:search">
						<td ng-bind = "event.name"></td>
						<td ng-bind = "event.event_date"></td>
						<td ng-bind = "event.location"></td>
						<td ng-bind = "event.amount"></td>
						<a href=""><td>...</td></a>
					</tr>
				</tbody>
   			</table>
		</div>
		<div ng-hide="show[2]">
			<div ng-repeat="event in trackings | filter:search">
				<a>
					<div ng-bind = "event.photo_url"></div>
					<h3 ng-bind = "event.event_name"></h3>
					<p ng-bind = "event.event_date"></p>
					<p ng-bind = "event.location"></p>
					<p ng-bind = "event.expire_time"></p>
					<div>
						<!-- Progress Bar -->
					</div>
				</a>
			</div>
				
		</div>
		<div ng-hide="show[3]">
			<table class="ui celled table">
    			<tbody>
					<tr ng-repeat="friend in friends | filter:search">
						<a><td>
							<div ng-bind = "friend.photo_url"></div>
							<div ng-bind = "friend.user_name"></div>
						</td></a>
					</tr>
				</tbody>
   			</table>
		</div>
	</section>