<!-- Main -->
	<section id="main" class="container">
		<header>
		</header>
		<div class="6u 12u(narrower)">
			<ul>
				<li>
					<a href="">Info</a>
				</li>
				<li>
					<a href="">Donation</a>
				</li>
				<li>
					<a href="">Track List</a>
				</li>
				<li>
					<a href="">Friends(Community)</a>
				</li>
			</ul>

		</div>
		<div>
			<legend>Personal information:</legend>
			<form>
				<div>
					<label>Account</label>
					<div>
						<input id="account" readonly>
					</div>
				</div>
				<div>
					<label>Password</label>
					<div>
						<input type="password" id="password">
					</div>
				</div>
				<div>
					<label>Name</label>
					<div>
						<input type="text" id="user_name">
					</div>
				</div>
				<div>
					<label>Email</label>
					<div>
						<input type="text" id="email">
					</div>
				</div>
				<div>
					<label>Photo</label>
					<div>
						<input type="text" id="photo_url">
					</div>
				</div>
				<div>
					<label>Birthdate</label>
					<div>
						<input type="text" id="birthdate">
					</div>
				</div>
				<div>
					<input type="submit">
				</div>
			</form>
		</div>
		<div>
			<table class="ui celled table">
    			<thead>
    				<tr>
    					<th>Event</th>
    					<th>Date</th>
    					<th>Location</th>
    					<th>Donated Amount</th>
    					<th>Detail</th>
    				</tr>
    			</thead>
    			<tbody>
					<tr ng-repeat="event in donations | filter:search">
						<td ng-bind = "event.name"></td>
						<td ng-bind = "event.event_date"></td>
						<td ng-bind = "event.location"></td>
						<td ng-bind = "event.amount"></td>
						<a href=""><td>...</td></a>
					</tr>
				</tbody>
   			</table>
		</div>
		<div>
			<div ng-repeat="event in trackings | filter:search">
				<a>
					<div ng-bind = "event.photo_url"></div>
					<h3 ng-bind = "event.event_name"></h3>
					<p ng-bind = "event.event_date"></p>
					<p ng-bind = "event.location"></p>
					<p ng-bind = "event.expire_time"></p>
					<div>
						<!-- Progress Bar -->
					</div>
				</a>
			</div>
				
		</div>
		<div>
			<table class="ui celled table">
    			<tbody>
					<tr ng-repeat="friend in friends | filter:search">
						<a><td>
							<div ng-bind = "friend.photo_url"></div>
							<div ng-bind = "friend.user_name"></div>
						</td></a>
					</tr>
				</tbody>
   			</table>
		</div>
	</section>