<script type="text/javascript">
	$(document).ready(function(){
		$('.menu a.item').on('click', function() {
			if(!$(this).hasClass('dropdown')) {
				$(this).addClass('active').closest('.ui.menu').find('.item').not($(this)).removeClass('active');
			}
		});
		$('.datepicker').pickadate({
			format: 'yyyy/mm/dd'
		});
	});
</script>
<!-- Main -->
	<section id="main" class="container">
		　<div ng-hide="user[0]">
			<div class="ui secondary pointing four item demo menu">
	  			<a ng-click="show_change(0)" class="active item">Info</a>
	  			<a ng-click="show_change(1)" class="item">Donation</a>
	  			<a ng-click="show_change(2)" class="item">Track List</a>
	  			<a ng-click="show_change(3)" class="item">Community</a>
			</div>
			<div ng-hide="show[0]" class="ui form segment">
				<legend>Personal Information</legend>
				<div class="two fields">
					<div class="field">
						<label>Account</label>
						<input placeholder="Text Input" ng-model="account" readonly>
					</div>
					<div class="field">
						<label>Password</label>
						<input placeholder="Text Input" type="password" ng-model="password">
					</div>
				</div>
				<div class="two required fields">
					<div class="field">
						<label>Name</label>
						<input placeholder="Text Input" type="text" ng-model="user_name">
					</div>
					<div class="field">
						<label>Email</label>
						<input placeholder="Text Input" type="text" ng-model="email">
					</div>
				</div>
				<div class="two required fields">
					<div class="field">
						<label>Photo</label>
						<input  placeholder="Text Input" type="text" ng-model="photo_url">
					</div>
					<div class="field">
						<label>Birthdate</label>
						<input class="datepicker" type="text" ng-model="birthdate" ng-value="">
					</div>
				</div>
				<div class="ui submit button">Update Information</div>
			</div>
			<div ng-hide="show[1]">
				<table class="ui celled table">
	    			<thead>
	    				<tr>
	    					<th>Event</th>
	    					<th>Date</th>
	    					<th>Location</th>
	    					<th>Donated Amount</th>
	    					<th>Detail</th>
	    				</tr>
	    			</thead>
	    			<tbody>
						<tr ng-repeat="event in donations | filter:search">
							<td ng-bind = "event.name"></td>
							<td ng-bind = "event.event_date"></td>
							<td ng-bind = "event.location"></td>
							<td ng-bind = "event.amount"></td>
							<a href=""><td>...</td></a>
						</tr>
					</tbody>
	   			</table>
			</div>
			<div ng-hide="show[2]">
				<div ng-repeat="event in trackings | filter:search">
					<a>
						<div ng-bind = "event.photo_url"></div>
						<h3 ng-bind = "event.event_name"></h3>
						<p ng-bind = "event.event_date"></p>
						<p ng-bind = "event.location"></p>
						<p ng-bind = "event.expire_time"></p>
						<div>
							<!-- Progress Bar -->
						</div>
					</a>
				</div>
					
			</div>
			<div ng-hide="show[3]">
				<table class="ui celled table">
	    			<tbody>
						<tr ng-repeat="friend in friends | filter:search">
							<a><td>
								<div ng-bind = "friend.photo_url"></div>
								<div ng-bind = "friend.user_name"></div>
							</td></a>
						</tr>
					</tbody>
	   			</table>
			</div>
		</div>
		<div  ng-hide="user[1]">
			<div class="ui secondary pointing one item demo menu">
	  			<a class="active item">Donation</a>
	  		</div>
			<div>
				<table class="ui celled table">
	    			<thead>
	    				<tr>
	    					<th>Event</th>
	    					<th>Date</th>
	    					<th>Location</th>
	    					<th>Detail</th>
	    				</tr>
	    			</thead>
	    			<tbody>
						<tr ng-repeat="event in donations | filter:search">
							<td ng-bind = "event.name"></td>
							<td ng-bind = "event.event_date"></td>
							<td ng-bind = "event.location"></td>
							<a href=""><td>...</td></a>
						</tr>
					</tbody>
	   			</table>
			</div>
		</div>
	</section>