<html ng-app="myApp">
    <head>

        <!-- All css and scripts used -->
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <base href="/">

        <script src="../js/lib/underscore/underscore-min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/services.js"></script>
        <script src="../js/controllers.js"></script>
        <script src="../js/filters.js"></script>
        <script src="../js/directives.js"></script>
            <!-- template native scripts -->
            <script src="../js/jquery.min.js"></script>
            <script src="../js/jquery.dropotron.min.js"></script>
            <script src="../js/jquery.scrollgress.min.js"></script>
            <script src="../js/skel.min.js"></script>
            <script src="../js/util.js"></script>
            <script src="../js/main.js"></script>
        <link rel="stylesheet" href="css/index.css" />
    </head>
    <body ng-controller="AppCtrl">
        <!-- Header -->
        <header id="header">
            <h1><a href="index.html">SA_project</a> by booas</h1>
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="#" class="icon fa-angle-down">Pages</a>
                        <ul>
                            <li><a href="/Event">Events</a></li>
                            <li><a href="contact.html">Stuff</a></li>
                            <li><a href="elements.html">Some stuff</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Option One</a></li>
                                    <li><a href="#">Option Two</a></li>
                                    <li><a href="#">Option Three</a></li>
                                    <li><a href="#">Option Four</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#" class="button" ng-hide="false">Sign In</a></li>
                    <li><a href="#" class="button" ng-hide="false">Sign Up</a></li>
                    <li><a href="#" class="button" ng-hide="true">Logout</a></li>
                </ul>
            </nav>
        </header>
        <!-- The div for partials -->
        <div class = "container">
            <div ng-view="">
                
            </div>
        </div>
    </body>
</html>
