<html ng-app="myApp">
    <head >

        <!-- All css and scripts used -->
        <title>SA_project</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <base href="/">

        <script src="../js/lib/underscore/underscore-min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/services.js"></script>
        <script src="../js/controllers.js"></script>
        <script src="../js/filters.js"></script>
        <script src="../js/directives.js"></script>

            <!-- template native scripts -->
            <script src="../js/jquery.min.js"></script>
            <script src="../js/jquery.dropotron.min.js"></script>
            <script src="../js/jquery.scrollgress.min.js"></script>
            <script src="../js/skel.min.js"></script>
            <script src="../js/util.js"></script>
            <script src="../js/main.js"></script>
        <script src="../css/semantic.js"></script>
        <link rel="stylesheet" href="css/semantic.css" />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../js/lib/pickadate/lib/themes/default.css" id="theme_base">
        <link rel="stylesheet" href="../js/lib/pickadate/lib/themes/default.date.css" id="theme_date">
        <link rel="stylesheet" href="../js/lib/pickadate/lib/themes/default.time.css" id="theme_time">

        <script src="../js/lib/pickadate/lib/picker.js"></script>
        <script src="../js/lib/pickadate/lib/picker.date.js"></script>
        <script src="../js/lib/pickadate/lib/picker.time.js"></script>
        <script src="../js/angular-datepicker.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.modal').modal();
                $('.basic.modal').modal('attach events', '.minimal.button');
            });
        </script>
    </head>
    <body ng-controller="AppCtrl">
        <!-- Header -->
        <header id="header">
            <h1><a href="/home">SA_project</a> by booas</h1>
            <nav id="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/Event">Discover</a></li>
                    <li><a ng-show="admin_identify()" href="/Create_event">Hold an event</a></li>
                    <li>
                        <a href="#" class="ui minimal button" ng-hide="is_login">Sign In</a>
                    </li>
                    <li>
                        <a href="/Signup" class="ui button" ng-hide="is_login">Sign Up</a>
                    </li>
                    <li>
                        <a class="button" ng-click="logout()" ng-show="is_login">Logout</a>
                    </li>
                </ul>


            </nav>
        </header>
        <!-- The div for partials -->
        <div class="ui basic modal">
            <div class="header">
                Login
            </div>
            <div class="content">
                <div class="description">
                    <form>
                        <p>Account</p>
                        <div class="ui transparent input green basic button login">
                            <input ng-model="account" class="login_input" type="text" placeholder="account">
                        </div>
                        <div class="ui horizontal divider"></div>
                        <p>Password</p>
                        <div class="ui transparent input green basic button login">
                            <input ng-model="password"  class="login_input" type="password" placeholder="password">    
                        </div>
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="two fluid ui inverted buttons"> 
                    <div class="ui green ok basic inverted button" ng-click="login()">
                        <i class="checkmark icon"></i>Login
                    </div>
                    <div class="ui red cancel basic inverted button">
                        <i class="remove icon"></i>Cancel
                    </div>
                </div>
            </div>
        </div>
        <div class = "container">
            <div ng-view="">
                
            </div>
        </div>
        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li><li>Design: <a>IM Booas</a></li>
            </ul>
        </footer>
    </body>
</html>
